# Default
*                     @manusa @ash-thakur-rh @shawkins

# Java generator
/java-generator/      @andreaTP @shawkins

# CRD Generator
/crd-generator/       @andreaTP @metacosm

# Chaos test
/chaos-test/          @andreaTP
