# IDE
.idea/
.settings
.project
.classpath
.meghanada
.projectile
target
*.iml

# Golang
vendor

# Java
*.class

# Package Files #
*.jar
*.war
*.ear  

# Project specific #
generator/vendor
generator/vendor/**
