{{!
    Copyright (C) 2015 Red Hat, Inc.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

            http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
}}
{{#fields}}
{{#legacyRequired}}
    /**
     *{{emptySpace}}
     * (Required)
     *{{emptySpace}}
     */
{{/legacyRequired}}
    @JsonProperty("{{propertyName}}")
{{#jsonInclude}}
    @JsonInclude(JsonInclude.Include.{{.}})
{{/jsonInclude}}
{{#jsonUnwrapped}}
    @JsonUnwrapped
{{/jsonUnwrapped}}
    public {{type}} {{getterName}}() {
        return {{name}};
    }

{{#legacyRequired}}
    /**
     *{{emptySpace}}
     * (Required)
     *{{emptySpace}}
     */
{{/legacyRequired}}
    @JsonProperty("{{propertyName}}")
{{#deserializeUsing}}
    @JsonDeserialize(using = {{.}})
{{/deserializeUsing}}
    public void {{setterName}}({{type}} {{name}}) {
        this.{{name}} = {{name}};
    }

{{/fields}}
{{#classInformation.isEditable}}
    @JsonIgnore
    public {{classInformation.builderName}} edit() {
        return new {{classInformation.builderName}}(this);
    }

    @JsonIgnore
    public {{classInformation.builderName}} toBuilder() {
        return edit();
    }

{{/classInformation.isEditable}}
{{#additionalProperties}}
    @JsonAnyGetter
    public Map<String, Object> getAdditionalProperties() {
        return this.additionalProperties;
    }

    @JsonAnySetter
    public void setAdditionalProperty(String name, Object value) {
        this.additionalProperties.put(name, value);
    }

    public void setAdditionalProperties(Map<String, Object> additionalProperties) {
        this.additionalProperties = additionalProperties;
    }
{{/additionalProperties}}
