#
# Copyright (C) 2015 Red Hat, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: Release to SNAPSHOTS Maven Central

env:
  MAVEN_ARGS: -B -C -V -ntp -Dhttp.keepAlive=false -e
  RELEASE_MAVEN_ARGS: -Prelease -Denforcer.skip=true
  OSSRHUSERNAME: ${{ secrets.OSSRHUSERNAME }}
  OSSRHPASSWORD: ${{ secrets.OSSRHPASSWORD }}
  SIGNINGPASSWORD: ${{ secrets.SIGNINGPASSWORD }}

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *' # Every day at 2am

jobs:
  release-snapshots:
    name: Release SNAPSHOT
    # Cheap way to prevent accidental releases
    # Modify the list to add users with release permissions
    if: contains('["manusa","rohanKanojia"]', github.actor)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Java 8
        uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: temurin
          server-id: ossrh
          server-username: OSSRHUSERNAME
          server-password: OSSRHPASSWORD
          gpg-private-key: ${{ secrets.SIGNINGKEY }}
          gpg-passphrase: SIGNINGPASSWORD
      - name: Build and release Java 8 modules
        run: ./mvnw ${MAVEN_ARGS} ${RELEASE_MAVEN_ARGS} clean deploy
      - name: Setup Java 11
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: temurin
          server-id: ossrh
          server-username: OSSRHUSERNAME
          server-password: OSSRHPASSWORD
          # GPG can only be removed once by the action. We rely on the previous setup-java
      - name: Build and release Java 11 modules
        run: ./mvnw ${MAVEN_ARGS} ${RELEASE_MAVEN_ARGS} -pl "httpclient-jdk" clean deploy
